/* Media query para pantallas más pequeñas */


@media (max-width:1500px){

}






@media (max-width: 650px) {
    /* .container h3 {
        font-size: 1.5em; 
    }

    .tendencias h3 {
        font-size: 1.2em; 
    }
    .section h2 {
        font-size: 2em; 
} */


    .containerMoviesTendencias .tendencias{
        width: 80%;
    }

}


@media (max-width: 450px) {
    .containerMoviesTendencias .tendencias{
        width: 90%;
    }


    .infoMovie h3{
        font-size: 0.8rem;
    }
}

@media (max-width: 250px) {
    .hero .container h1{
        font-size: 2.4em;
        
    }


    .infoMovie h3{
        font-size: 0.5rem;
    }
}