@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');

/* Variables */
:root {
    --primary-color: #070F2B;
    --secondary-color: #41B06E;
    --transparent-black: rgba(0, 0, 0, 0.8);
    --button-hover-color: #fff;
    --text-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}


 /* Header*/
 /* Nav*/
 .navbar-nav .nav-item .nav-link {
        color: white; 
 }
/* Body */

body{
    background-color: var(--primary-color);
}

/* Header*/
/* Nav*/
.navbar-nav .nav-item .nav-link {
    color: var(--text-color); 
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--secondary-color);
}

#navbar {
    background-color: var(--transparent-black); /* Establece un color de fondo transparente */
    transition: background-color 0.3s; /* Agrega una transición suave al cambio de color de fondo */
}

.transparent {
    background-color: transparent !important; /* Hace que la barra de navegación sea completamente transparente */
}

/* Estilos del héroe */
.hero {
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 210px 0;
    height: 100vh;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(0.5px); /* Aplica el desenfoque al bg */
    z-index: -1;
}



.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.6em;
    margin-bottom: 30px;
}

.containerHERO{
    margin: 10em auto;
    filter: blur(7px);
}

.btn {
    display: inline-block;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--button-hover-color);
}

/* Buscador */
.container h3{
    color: var(--text-color);
    padding: 20px 20px;
    font-size: 2.1em;
}

.btn-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
}

hr {
    border-top: 2px solid var(--secondary-color); 
    margin-top: 100px; 
    margin-bottom: 20px; 
    width: 80%;
    margin-left: auto; 
    margin-right: auto; 
}

/* Estilos de las secciones */
.section {
    padding: 20px 0;
    text-align: center;
}

.section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: var(--text-color);
}

.tendencias{
    display: grid;
}

.containerMoviesTendencias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px; /* Espacio alrededor de las tarjetas */
}

.tendencias {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 230px; /* Aumentado el ancho de las tarjetas */
    height: auto; /* Cambiado a una altura variable */
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.5s ease;
}
.tendencias:hover {
    transform: scale(1.05); 
}

.tendencias img {
    width: 100%;
    height: 320px; /* Altura fija para mantener la proporción */
    object-fit: cover;
    object-position: center;
}

.tendencias:hover{
    background-color: var(--secondary-color);
    z-index: 1;
    color: #fff;
    cursor: pointer;
}

  /*-- Slider --*/
  .prox{
    padding: 20px 130px;
}

.sectionProximamente{
    padding: 0;
    text-align: center;
    margin: 50px 0;
    width: 100%;
    height: auto;
    overflow-x: auto;
}
.sectionProximamente  img {
    border: 1px solid rgba(0, 0, 0, 0.068);
    width: 14em;
    height: 20em;
    margin: 10px 15px;
    overflow: hidden;
    border-radius: 5px;
}

.sectionProximamente ul{
    padding: 0;
}

ul li img {
    filter: grayscale(90%);
  }

ul li img:hover {
    cursor: pointer;
    filter: grayscale(0%);
}

/*Footer*/
.nav-item .nav-link {
    color: var(--text-color);
}

.nav-link:hover {
    color: var(--secondary-color);
}

.copyright {
    color: var(--text-color);
    padding-top: 10px;
}



/* Estilos de barra de desplazamiento */
::-webkit-scrollbar {
    background-color: black; 
    width: 12px; 
}


::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color); 
    border-radius: 2px; /
}


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {

    /* Nav */
    #navbar {
        background-color: var(--transparent-black) !important;
    }
    /* Fonts size mas bajos */
    .container h3 {
        font-size: 1.5em; 
    }

    .tendencias h3 {
        font-size: 1.2em; 
    }
    .section h2 {
        font-size: 2em; 
    }
    .prox h2{
        font-size: 2em;
    }
}

@media (max-width: 538px) {
    .tendencias {
        width: 300px; /* Aumentado el ancho de las tarjetas */
        height: auto;
    }

    .tendencias img {
        height: 450px;
    }

    .prox{
        padding: 0 20px;
    }
    .sectionProximamente  img{
        width: 10em;
        height: 16em;

    }

    .footer .nav-link{
        font-size: 0.7rem;
    }

    .footer p{
        font-size: 0.8rem;
    }
}