@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
 /* Body */

 /* Header*/
 .navbar-nav .nav-item .nav-link {
   
        color: white; 
}

/*Footer*/

.nav-item .nav-link{
    color:white;
}

.copyright {
    color: white;
    padding-top: 10px;
    
}

