.body{
    background-image: url(../img/fondo.jpg);
}

.section{
    background-color: black;
    color: white;
}

#divForm{
    background-color: #bdbdbd;
    border: 2px solid #9f3647;
    color: white;
    border-radius: 2rem;
    padding: 1rem;
}

#cont_btn{
    button:hover{
        background-color:blue;
    }
}
.link{
    a{
        margin: 1rem;
        color: rgba(255, 255, 255, 0.847);
        text-decoration: none;
        transition: color 0.5s, text-decoration 0.5s;
    }
    a:hover{
        color: rgb(255, 0, 0);
        text-decoration: underline;
    }
}